extends ../layout

block content
  .jumbotron
    h1 Criar Usuário
    hr
    br
    if messages && messages.erro
      div(class="alert alert-danger")
        each msg in messages.erro
          p= msg
    if messages && messages.info
          div(class="alert alert-success")
            p= messages.info
    form(method="POST", action="/usuarios/create", role="form")
      div(class="form-group")
        label Nome
        input(type="text", class="form-control", name="nome", placeholder="Nome", autofocus, value=`${user.nome || ''}`, required)
      div(class="form-group")
        label E-mail
        input(type="email", class="form-control", name="email", placeholder="Email", value=`${user.email || ''}`, required)
      div(class="form-group")
        label Site
        input(type="text", class="form-control", name="site", placeholder="Site", value=`${user.site || ''}`)
      div(class="form-group")
        label Senha
        input(type="password", class="form-control", name="password", placeholder="Senha", required)
      div(class="form-group")
        label Confirmar Senha
        input(type="password", class="form-control", name="password_confirmar", placeholder="Confirmar Senha", required)
      button(type="submit", class="btn btn-success") Salvar
